
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #ffde21;
    --text-color: white;
    --bg-color: #222222;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

.header {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    padding: 16px 100px;
    background: #3b3b3b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 5;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.name {
    color: white;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}


h1 {
    display: flex;
    color: white;
    font-size: 100px;
    flex-wrap: wrap;
    width: 100px;
    margin-bottom: 16px;
}
.contact {
    padding: 12px;
    border-radius: 8px;
}

.custom-shape-divider-top-1748373571 {
    position: absolute;
    top: 0;
    left: 0;
    width: 128%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1748373571 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.2px);
    height: 190px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1748373571 .shape-fill {
    fill: #FFDE21;
}
.container {
    display: flex;
    background: #222222;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
}

.subtext {
    color: #eee;
    font-size: 16px;
}

/*.me {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.me:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}*/

span {
    color: var(--main-color);

}
.logo span{
    color:var(--main-color)
}

.home {
    margin-top: 20px;
padding-left: 5rem;
align-items: center;   
justify-content: center;
}

.home h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.social-icons a:hover,
.social-icon a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px (var(--main-color));
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border:2px solid transparent;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
} 

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.info,
.content {
    display: flex;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}

/*.info {
    flex-wrap: wrap;
}*/
.ecom {
    margin-bottom: 16px;
}
/*.info:hover,
.content:hover {
    transform: scale(1.1)translateY(-2px);
    cursor: pointer;
}*/

.heading-ecom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-icon{
    margin-bottom: 12px;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.description,
.description-bio {
    font-size: 14px;
    max-width: 700px;
}

h5,
.heading-bio {
    font-weight: 800;
    font-size: 24px;
    color: var(--main-color);
    text-align: center;
}

.heading-bio{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.cardContainer {
    position: relative;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
    justify-content: center;
    flex-wrap: wrap;
}
.eatzLink, .resumeLink, .bookLink, .gifLink, .weatherLink{
    text-decoration:underline;
}

.eatzLine, .resumeLine, .bookLine,  .gifLine, .weatherLine{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.eatzLink:hover, .resumeLink:hover, .weatherLink:hover, .bookLink:hover, .gifLink:hover{
    color: var(--main-color);
}
.popup a {
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    font-size: 3.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease-in-out;
    padding: 10px;
}
.popup2 a{
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background: transparent;
    font-size: 3.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease-in-out;
    padding: 10px;
}
.popup3 a{
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background: transparent;
    font-size: 3.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s;
    padding: 10px;
}
.imageContainer {
    position: relative;
    display: inline-block;
}

.popup a:hover, .popup2 a:hover, .popup3 a:hover{
     transform: scale(1.4)translateY(-12px);
     color: red;
}
.headingP {
    margin-top: 10rem;
    font-size: 8rem;
    text-align: center;
} 

.projectCard {
   margin-left: 5rem;
}

.cardTitle {
    font-size: 18px;
    margin: 6px;
}
.cardPara {
    font-size: 14px;
    font-weight: 100;
    max-width: 400px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
.cardImg, .cardImg3{
    height: 200px;
    width: 400px;
}
.cardImg2  {
    height: 200px;
    width: 440px;
}

.contact{
    background-color:  var(--bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #222222;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}   

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: .3s;
}

.social a:hover{
    transform: scale(1.2)translateY(-10px);

}

.copywright {
    margin-top: 50px;
    text-align: center;
    margin-left: 16px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: .3 ease-in-out;
}